body.main{
    font-family:Californian FB, Cambria;
}

#welcome {
    font-family:Californian FB, Cambria;
    text-align: center;
    padding: 0%;
    font-size: 50px;
}

#contents{
    margin:auto;
    border: none;
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed;
}
.main_pic{
    width:100%;
    height: 400px;
    margin:auto;
    object-fit: cover;
}
td {
    font-family:Californian FB, Cambria;
    font-style: italic;
    text-align: center;
    padding: 5px;
    border:none;
}
table, td, tr{
    border: none;
    border-collapse: collapse;
}
h3 {
    font-size: 20;
    font-family:Californian FB, Cambria;
    text-align: center;
}
a{
    text-decoration-line:none ;
    color:black;
}
/*
#main_img{
    padding: 20px;
    text-align: center;
    float:left;
}
*/
#base_info{
    text-align: center ;
    display: table-cell;
    vertical-align: middle;
    width:auto;
    height: 300;
}
#git, #tistory, #cn{
    width: 200;
    height: auto;
}
#Social_Site{
    width: 100%;
    position: static;
}