body {
    font-family:Californian FB, Cambria;    
    animation: fadein 0.5s;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#welcome {
    font-family:Californian FB, Cambria;
    text-align: center;
    padding: 0%;
    font-size: 50px;
}

#contents{
    margin:auto;
    border: none;
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed;
    font-size: 20px;
}
a{
    text-decoration-line:none ;
    color:black;
}
td {
    font-family:Californian FB, Cambria;
    font-style: italic;
    text-align: center;
    padding: 5px;
    border:none;
}
/*여기부터*/
img{
    width:300px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
}
#luv_list{
    padding-top: 30px;
    margin: auto; /*테이블 자체 정중앙에 정렬*/
    table-layout: fixed ;
    width: 900px;
}
#books, #movies, #travels {
    width:300px;
    margin: auto;
    white-space: nowrap;
}
.__menu:hover {
    text-decoration: underline;
    color:grey;
}
.l_details{
    padding:10px;
}